#bookInputs{
   display: none;
   border-radius: 5px;
   border-color: teal;
   
}
h1{
    text-align: center;
    color: seashell;
}
#book-form{
    border-style: solid;
    width: 200px;
    padding: 12px;
    background-color: rgba(255, 245, 238,0.5);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: inset;
    -moz-box-shadow:    inset 0 0 10px  rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 10px  rgba(255, 255, 255, 0.2);
    box-shadow:         inset 0 0 10px  rgba(255, 255, 255, 0.2);
}
div.book{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.openButton{
    border-radius: 30px;
    padding: 16px 20px;
    max-width: 100%;
    height: auto;
    background-image: url('https://cdn3.iconfinder.com/data/icons/ui-thick-outline-1-of-5/100/ui_01_of_9-02-512.png');
    background-size: 100%;
    background-color: transparent;
    border: none;
}

.openButton:hover{
    transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
#book_display{
    display: grid;
    width: 1000px;
    height: auto;
    position: absolute;
    margin-top: 2em;
    top:180px;
    margin-left: 25%;
    margin-right: 25%;
    
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows:  2fr 2fr ;
    grid-gap: 10px;
    z-index: 2;
 
}
#book_display > div{
    background-color: rgba(245, 222, 179,0.4);
    display: grid;
    padding: 40px;
    border-radius: 10px;
}
body{
    background-image: url("https://ak3.picdn.net/shutterstock/videos/20824183/thumb/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
 